@charset "utf-8";

/* setting background image */
body {
	background-image: url("../img/background.png");
	margin: 0;
}

/* setting background colour */
.site-border {
  	padding: 20px;
  	background-color: lightgreen;
}

/* change image size */
img {
	width: 300px;
}